<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"/>
  <link rel="icon" href="{icon}"/>
  <link rel="shortcut" href="{icon}"/>
  <link rel="apple-touch-icon" href="{icon}"/>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="description" content="{desc}"/>
  <title>{title}</title>
  <link rel="stylesheet" href="/assets/core.css">
  <script src="/assets/core.js" defer></script>
  {@head}
</head>
<body>
  {@body}
</body>
</html>
